[workspace]
resolver = "2"
members = [
    "programs/*",
]

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
strip = true

[profile.release.build-override]
opt-level = 3
codegen-units = 1
